<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.tstc.yy.dao.UserInfoDao">

    <resultMap id="getInfoWithUser" type="UserInfo" >
        <id  property="userInfoId" column="userInfoId"/>
        <result property="userClass" column="userClass"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <association property="user" column="userId"  select="edu.tstc.yy.dao.UserInfoDao.getUserForUserInfo"/>
    </resultMap>
    <resultMap id="getUser" type="User">
        <id property="userName" column="userName"/>
        <result property="userId" column="userId"/>
        <result property="userIcon" column="userIcon"/>

       <!-- <result property="passWord" column="passWord"/>-->
        <result property="nickName" column="nickName"/>
        <result property="userCreatTime" column="userCreatTime"/>
        <result property="userRoleId" column="userRoleId"/>
    </resultMap>


    <insert id="insertInfo" parameterType="UserInfo" >
        INSERT INTO userinfotable (userId, sex, email, userClass) VALUES (#{user.userId},#{sex},#{email},#{userClass})
    </insert>

    <select id="getUserInfo" resultMap="getInfoWithUser">
        SELECT userInfoId ,userClass,sex,email,userId FROM userinfotable WHERE userinfotable.userId=#{userId}
    </select>
    <select id="getUserForUserInfo" resultType="User">
        SELECT userIcon,userName,nickName,userCreatTime,userRoleId FROM usertable WHERE userId=#{userId}
    </select>





    <update id="upDateInfo">
        UPDATE school_tieba.userinfotable SET email=#{email},sex=#{sex},userClass=#{userClass}
        where userId=#{user.userId}
    </update>
</mapper>